{% extends "base.html" %}
{% block content %}

<h2>Modifier une commande</h2>

<form method="post" class="form-box">

    <label>Client</label>
    <select name="code_client" required>
        {% for cl in clients %}
        <option value="{{ cl.code_client }}"
            {% if cl.code_client == commande.code_client %}selected{% endif %}>
            {{ cl.nom }}
        </option>
        {% endfor %}
    </select>

    <label>Date</label>
    <input type="date" name="date_commande"
           value="{{ commande.date_commande }}" required>

    <label>Montant</label>
    <input type="number" step="0.01" name="montant"
           value="{{ commande.montant_commande }}" required>

    <label>Promotion</label>
    <input type="number" step="0.01" name="promotion"
           value="{{ commande.promotion }}">

    <label>Frais livraison</label>
    <input type="number" step="0.01" name="frais"
           value="{{ commande.frais_livraison }}">

    <button>Enregistrer</button>
</form>

{% endblock %}
